* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  padding-bottom: 40px;
  min-width: 290px;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 8px;
  text-align: center;
  background-color: lightgreen;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: none;
  height: 36px;
  padding-inline: 12px;
  width: 275px;
  border-radius: 50px;
  border: 1px solid darkblue;
}

input:invalid {
  border: 1px solid red;
}

.btns-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
}

button {
  height: 40px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
}

button:hover {
  background-color: lightgreen;
  transition: 0.3s;
}

#webBtn {
  border-radius: 50px 0 0 50px;
}

#appBtn {
  border-radius: 0 50px 50px 0;
}

footer {
  position: fixed;
  inset: auto 0 0 0;
  padding: 8px;
  background-color: lightgreen;
  text-align: center;
}

footer a {
  text-decoration: unset;
}

@media screen and (max-width: 350px) {
  #webBtn, #appBtn {
    border-radius: 50px;
  }
}
